<!DOCTYPE html>
<html>
<head>
  <title><%= txt.title %></title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->

  <link rel="stylesheet" href="/css/overcast/jquery-ui-1.8.13.custom.css" />
  <link rel="stylesheet" href="/css/jquery-ui-timepicker-addon.css" />
  <link rel="stylesheet" href="/css/stanzr.css?<%=Math.random()%>">
  <link rel="stylesheet" href="/css/jquery.addtocal.css">
  <link rel="stylesheet" href="/img/sprites.css">


  <script>
    var logerror = window.onerror = function() {
      try {
        var desc = JSON.stringify({page:page,app:app&&app.dump(),args:Array.prototype.slice.call(arguments)})
        new Image().src = '/api/log/error?desc='+escape(desc)
      }
      catch( e ) {
        debug && debug(e)
      }
    }

    var chatid = '<%=val.chatid||'member'%>'
    var alias  = '<%=val.alias||val.chatid||'member'%>'
    var nick   = '<%=val.nick||''%>'

    var page = {
      chat: <%-JSON.stringify(val.chat)%>,
      user: <%-JSON.stringify(val.user)%>
    }
  </script>

<% if( val.chatid || val.nick ) { %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js"></script> 
  <script src="/js/jquery-ui-timepicker-addon.js"></script> 
  <script src="/js/es5-shim.js"></script>

  <script src="http://c1.chartaca.com/1.1.1/chartaca.js"></script>
  
  <script src="/js/date.js"></script> 
  <script src="/js/rfc3339date.js"></script> 
  <script src="/js/jquery.addtocal.js"></script> 

  <script src="/js/qtip2/jquery.qtip.min.js"></script>
  <link rel="stylesheet" href="/js/qtip2/jquery.qtip.min.css" />
  
  <script src="/js/jquery.NobleCount.js"></script>
  <script src="/js/jquery.livequery.js"></script>
  <script src="/js/jquery.timeago.js"></script>
  <script src="/js/jquery.winzig.js"></script>
  <script src="/js/ba-linkify.js"></script>  
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/jquery.reject.js"></script>
  <script src="/js/json2.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="/js/markdown.js"></script>

  <script src="/nowjs/now.js"></script>
  <script src="/js/stanzr.js?<%=Math.random()%>"></script>
<% } %>

</head>

<body>
  <%- body %>


  <img src="/img/sprites.png" style="display:none" />
<div id="timeago" class="hide"></div>
<div id="escaper" class="hide"></div>
<div id="appdump" class="hide"></div>
<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23131900-1']);
  _gaq.push(['_setDomainName', '.stanzr.com']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
