<!DOCTYPE html>
<html>
<head>
  <title><%= txt.title %></title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
  <link rel="stylesheet" href="/css/stanzr.css?<%=Math.random()%>">
  <link rel="stylesheet" href="/img/sprites.css">

  <script>
    var chatid = '<%=val.chatid||'member'%>'
    var nick = '<%=val.nick||''%>'

    var page = {
      chat: <%-JSON.stringify(val.chat)%>,
      user: <%-JSON.stringify(val.user)%>
    }
  </script>

<% if( val.chatid || val.nick ) { %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script> 
  <script src="http://c1.chartaca.com/1.1.1/chartaca.js"></script>
  
  <script src="/js/qtip2/jquery.qtip.min.js"></script>
  <link rel="stylesheet" href="/js/qtip2/jquery.qtip.min.css" />
  
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/json2.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="/js/markdown.js"></script>

  <script src="/nowjs/now.js"></script>
  <script src="/js/stanzr.js?<%=Math.random()%>"></script>
<% } %>

</head>

<body>
  <%- body %>

  <img src="/img/sprites.png" style="display:none" />
</body>
</html>
